@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body {
  font-size: var(--font-size);
  font-weight: 400;
  font-family: var(--family);
  font-size: var(--font-size);
}
.App {
  overflow-x: hidden;
}

.Main {
  max-width: var(--desktop);
  min-width: var(--moblile);
  margin: 0 auto;

  min-height: 100vh;
}

:root {
  --moblile: 320px; /*375px*/
  --desktop: 1440px;

  /* primary */
  --bright-blue: hsl(220, 98%, 61%);
  --linear-gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* light theme */
  --very-light-gray: #fafafa;
  --very-light-grayish-bluel: #e4e5f1;
  --light-grayish-bluel: #d2d3db;
  --dark-grayish-bluel: hsl(236, 9%, 61%);
  --very-dark-grayish-bluel: hsl(235, 19%, 35%);

  /* dark theme */
  --very-dark-blue: #161722;
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: #e4e5f1;
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: #4d5066;
  --very-dark-grayish-blue: #393a4c;

  /* typeography */

  --font-size: 18px;
  /* font */
  --family: "Josefin Sans", sans-serif;
}

.fill-circle {
  fill: var(--light-grayish-blue);
}
.fill-cross {
  fill: var(--light-grayish-bluel);
}

#todo {
  letter-spacing: 8px;
}
